.big-button {
    background: orangered;
    border: none;
    border-bottom: 0.6rem solid darken(orangered, 20%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: 0.5;
}

@media (min-width: $desktop-breakpoint) { // settings for non-mobile devices
    .big-button {
        margin-bottom: $xl-size;
    }
}

.button {
    background: orangered;
    border: none;
    border-bottom: 0.3rem solid darken(orangered, 20%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}